<h2>Ceefax Videprinter</h2>
<p>A nostalgic look back to the days of Saturday afternoons glued to the Ceefax Football Videprinter.
<p>Lovingly created by <a href="https://twitter.com/danabrey" target="_blank">Dan Abrey</a> and <a href="https://twitter.com/patrickpawsey" target="_blank">Patrick Pawsey-Vale</a>, it shows a Ceefax-ified version of the <a href="http://www.bbc.co.uk/sport/football/live-scores/videprinter" target="_blank">BBC live scores videprinter</a>.</p>
<p>You can find the Videprinter at page <a ui-sref="337">337</a></p>
<p>(try typing with your <del>remote control</del> keyboard)</p>
<p>Even better in full screen mode! Press F11 on your keyboard, in most browsers.</p>
<div class="social-action">
<a href="https://www.facebook.com/dialog/share?app_id=1678132869136679&display=popup&href=http%3A%2F%2Fwww.ceefaxvideprinter.com&redirect_uri=http%3A%2F%2Fwww.ceefaxvideprinter.com">Share on Facebook</a>
</div>
<br>
<div class="social-action"><a href="https://twitter.com/intent/tweet?button_hashtag=CeefaxVideprinter&url=http%3A%2F%2Fwww.ceefaxvideprinter.com&via=ceefax337" class="twitter-hashtag-button" data-size="large" data-related="ceefax337" data-url="http://www.ceefaxvideprinter.com">Tweet #CeefaxVideprinter</a></div>
