.left {float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after { clear: both; }
}

.standout-row {
    margin-top: 1rem;
    width: 98%;
    padding: 0.5rem;
    float: left;
    a { text-decoration: none; }
    &.cyan {
        color: $white;
        background: $cyan;
    }
    &.green {
        background: $green;
        color: $white;
    }
    &.blue {
        background: $blue;
        color: white;
    }
}
